@font-face {
    font-family: "Arial"; 
    src: url("Arial.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #caeaf1;
}
header{
    height: 100px;
    background-color: #9b59b6;
}
.logo{
    height: 80px;
    border-radius: 150px;
}
.url{ 
    color: black;
}
.url:hover {
    color: #1ed306;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color:#9b59b6; 
}
tr:nth-child(even){
    background-color: #3498db; 
}
footer{
    height: 100px;
    background-color:#9b59b6;
}
a:hover{
    color: #1ed306;
}
.slider {
    position: relative;
    padding: 0px 20px;
}
.pic{
    width: 95%;
    height: 95%;
}
.slick-track {
    display: flex;
}
  
.slick-list {
    overflow: hidden;
}
  
.slick-arrow {
    position: absolute;
    top: 40%; 
    margin: -10px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 30px;
}
  
.slick-arrow.slick-prev {
    left: 0;
    height: 30px;
    background: url('стрелкаЛ.jpg') 0 0 / 100% no-repeat; 
}
  
.slick-arrow.slick-next {
    right: 0;
    height: 30px;
    background: url('стрелкаП.jpg') 0 0 / 100% no-repeat;
}
  
.slick-dots {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
.slick-dots li {
   list-style: none;
    margin-right: 20px; 
}
  
.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(188, 133, 240);
    border-radius: 50%;
}
  
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #1ed306;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
    }
    .logo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    .slick-arrow {
        position: absolute;
        top: 45%;
        margin: -30px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;
      }
      .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: rgb(188, 133, 240);
        border-radius: 50%;
      }
      .slider {
        position: relative;
        padding: 0px 50px;
      }
}

